<% include includes/header %>
    <div class="box">


        <div class="back" data-song='<%= card.song %>' data-confetti='<%= card.confetti %>' data-heart='<%= card.heart %>' id="back">
            <p class='message'>
                <%= card.message %>
            </p>
            <div style="float:right;">
                <%- card.heart ? '<i class="fas fa-heart"></i>' : '' %>
                <h4 style="display:inline;margin-left:10px;font-size:1rem;">
                    <%= card.sign %>
                </h4>
            </div>

        </div>
        <div class="container" id="container">
            <h2 class="title">
                <%= card.title %>
            </h2>
            <div class="img" id='img' data-img="/public/imgs/<%= card.picture %>"></div>
        </div>
    </div>
    <script src="/public/js/script.js"></script>
    <% include includes/footer %>
        </body>

        </html>