<% include includes/header %>
    <h5 class="pageTitle">
        <%= pageTitle %>
    </h5>
    <div class="cards">
        <% cards.forEach(card => { %>

            <iframe id='<%= card.id.toString() %>' class='frame' src="/card?title=<%= card.title %>&message=<%= card.message %>&sign=<%= card.sign %>&picture=<%= card.picture %>&nonav=true" scrolling='no'>
                <p>
                    <%= card.createdAt %>
                </p></iframe>
            <% })%>
    </div>
    <% include includes/footer %>
        </body>

        </html>